body{
    font: 20px Arial, sans-serif; 
}

.navbar {
    background-color: gray;
}

.quem-somos {
    background-color: lightblue;
    color: white;
}


.parceiros {
    background-color: lightseagreen;
    color: white;
}

.servicos {
    background-color: lightgray;
    color: white;
}

.servicos h3 {
    padding-bottom: 20px;
}

.margin{
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-padrao {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.bg-footer {
    background-color: black;
    color: white;
}